$honeydew: #f1faee;
$red: #ff4772;

$blue: #2e5cb2;
$blue2: #bfd0ee;

$black: #0e1c36;
$black2: #0e1c36cc;

$discord-blue: #5865f2;

$dull-white: #dee2e6;
$white: #ffffff;

$gray: #c3cdd9;
$gray2: #838688;
$dark-gray: #545556;

$empty: #c4c4c4;
$empty2: #e5e5e5;
$empty3: #e9ecef;
