@import './main.css';
@import './button.css';
@import './uidefaults.css';
@import './modals.css';
@import './switch.css';
@import './notification.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Custom-Spinner {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
