@use '../../../styles/Fonts.scss' as font;
@import '../../../styles/Colors.module';

.step_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.step_header {
  width: 100%;
  height: 4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;
  background-color: $dull-white;
  border-radius: 0.5rem;
}

.step_body {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: inherit;
  position: relative;
  overflow-y: auto;
  padding-bottom: 2rem;
  scroll-behavior: smooth;
}

.bottom_button_container {
  width: 100%;
  padding: 0.5rem 0;
  height: 5rem;
  background-color: inherit;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next_button {
  @include font.sec-font;
}
